body {
  margin: 0;
  padding: 0;
}

.welcome_modal__close_btn {
  display: flex;
  justify-content: flex-end;
}

.modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.25);
}

.welcome_modal {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
